.Area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Item {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    flex-grow: 1;
    gap: 20px;
}
.Cover {
    height: 120px;
    border-radius: 12px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.CourseTitle {
    font-size: 18px;
    font-weight: 800;
    color: #333;
}
.CourseDetail {
    font-size: 15px;
    color: #666;
}

.Container {
    display: flex;
    box-shadow: 1px 1px 5px 1px #ddd;
    border-radius: 20px;
    padding-right: 20px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.Inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.ProgressArea {
    height: 20px;
    width: 150px;
    background-color: #dedede;
    border-radius: 999px;
}
.ProgressBar {
    height: 20px;
    border-radius: 999px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
